<footer>
  <ul>
    <li>
      <a href="/about" style="text-decoration: none;">About</a>
    </li>
    <li>
      <a href="/contact" style="text-decoration: none;">Contact</a>
    </li>
  </ul>
</footer>
