
<header class="b1">
  <a href="/index" style="text-decoration: none;"><img alt="logo3" src="../assets/images/logo3.png" width="145"></a>
  <div>
    <h3 style="font-size: 35px;color: white;">Puppies ‘N Love</h3><br>
  </div>
  
</header>
