<nav class="n1">
  <ul>
    <% if(loggedIn){%> <li>
      <a href="/connections" style="color: white; text-decoration: none;">All connections</a>
    </li>
    <li  style = "padding-right:650px;">
      <a><%= Name %> </a>
    </li>
      <%} else { %>
        <li  style = "padding-right: 850px;">
          <a href="/connections" style="color: white; text-decoration: none;">All connections</a>
        </li>
        <li>
          <a><%= Name %></a>
        </li><% } %>
    <li>
      <a href="/newconnection" style="color: white; text-decoration: none;">New Connection</a>
    </li>
    <% if(loggedIn){%> <li><a href="/savedconnections" style="text-decoration: none; color: white;">My connections</a></li>
    <%} else { %> <li><a href="/login" style="text-decoration: none; color: white;">Login</a></li><% } %>
    <% if(loggedIn){%><li><a href="/signout" style="text-decoration: none; color: white;">Sign Out</a></li>
    <%} else { %><li><a href="/login" style="text-decoration: none; color: white;">Sign In</a></li><% } %>
  </ul>
</nav>
