<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pet products store</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<%- include('partials/header.ejs')  %>
<%- include('partials/nav.ejs')  %>


  <div class="About">


  <h2>About us</h2>
  <h4>Welome to puppies N love Website</h4>
  <p>All kinds of events available for pet lovers.</p>
  <p>You can register for any upcoming events in the application.</p>
  <p>Events can be added by anyone in the application.</p>
  <p>All premium procuts can also be purchased in the website for free delivery.</p>
  <p>All the products can be viewed by clicking on the all products link.</p>
  </div>

<%- include('partials/footer.ejs')  %>
</body>

</html>
