<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pet products store</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<%- include('partials/header.ejs')  %>
<%- include('partials/nav.ejs')  %>

<div class="About">


<h2>Contact us</h2><br>
<p> puppies N Love</p>
<p>Rowe building</p>
<p>barton creek drive</p>
<p>Timings : 8:00 Am to 8:00Pm</p>
<p>contact no: 704-748-7145</p>
</div>


<%- include('partials/footer.ejs')  %>
</body>
</html>
